* {
    margin: 0;
    padding: 0;
}

#position {
    width: 100px;
    height: 40px;
    color: rgb(0, 0, 0);
    padding: fixed;
    top: 0;
    left: 0;
}

body {
    background-color: bisque;
}

p {
    margin: 0;
    font-family: sans-serif;
}

h2 {
    text-align: center;
}