* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    padding-top: 10%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(70, 183, 236, 0.2))) fixed;
    width: 100vw;
    height: 30vw;
}

.container {
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 41em;
    padding: 2%;
    border-radius: 5px;
}

h1 {
    margin-left: 150px;
    margin-right: 150px;
    font-size: 32px;
    letter-spacing: 1px;
    color: rgb(70, 183, 236);
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

form .blocoInput input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: .100rem .50rem;
    color: black;
    border-radius: 2px;
    font-size: 16px;
    border: 1px solid #ccddef;
    outline-color: rgb(70, 183, 236);
}

.btn {
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 150px;
    font-weight: 900;
    background-color: rgb(70, 183, 236);
    color: rgb(255,255,255);
}

form.validateErro {
    animation: preenche 200ms linear;
    animation-iteration-count: 2;
}

@keyframes preenche {
    0%,
    100% {
        transform: translateX(0);
    }
    35% {
        transform: translateX(-15%);
    }
    70% {
        transform: translateX(15%);
    }
}


